 <div class="card mb-3">
    <img src="https://image.tmdb.org/t/p/original/{{getMovieDetailsResults.backdrop_path}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">{{getMovieDetailsResults.original_title}}</h1>
      <p class="card-text">{{getMovieDetailsResults.overview}}</p>
      <p class="card-text"><small class="text-body-secondary">{{getMovieDetailsResults.release_date}}</small></p>
      <p class="card-text">{{getMovieDetailsResults.tagline}}</p>
    </div>
  </div>