<div class="contain mt-5 p-5">
    <form [formGroup]="searchForm"  (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input class="form-control" type="text" formControlName="movieName" placeholder="Search Movies here...">
            </div>

            <div class="col-lg-2">
                <button class="btn btn-md">Search</button>
           </div>

        </div>
        
    </form>

    <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let s of searchResult">
            <div class="row">
                <div class="col-lg-3 mt-3 mb-3">
                    <img src="https://image.tmdb.org/t/p/original/{{s.backdrop_path}}" alt="">
                </div>
                <div class="col-lg-9 mt-3 mb-3">
                  <h3>{{s.original_title}}</h3>
                  {{s.overview}}
                </div>

            </div>

        </div>
    </div>
</div>
