<div class="container_fluid">
<!-- <div *ngFor="let movie of movies.results">
  <h3>{{ movie.title }}</h3>
  <p>{{ movie.overview }}</p>
  <p>{{ movie.backdrop_path }}</p> -->
  

  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="100"  *ngFor="let movie of movies.results;let i = index" [ngClass]="{active:i===1}">
      <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>{{ movie.title }}</h2>
        <p>{{movie.overview}}</p>
      </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <!-- Display other movie properties as needed -->
</div>
</div>
