.carousel-inner{
    height: 700px; 
}
 .carousel-inner .carousel-caption h1{
        color:  rgb(255, 0, 0);
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
}

 .carousel-inner .carousel-item{
        object-fit: cover;
        height: 700px;
    }
.carousel-inner .carousel-caption p{
    color: white;
}

.rowposter{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.rowimg{
    max-height: 200px;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;
}

.rowimg:hover{
 transform: scale(1.50);
 cursor: pointer;
}
.largeposter{
    max-height: 300px;
}
.rowposter::-webkit-scrollbar{
    display: none;
}
